.footer {
    background: #2F303A;
    padding-bottom: 60px;
    padding-top: 60px;
    display: flex;
}

.footer-container {
    display: flex;
}

.footer-bar {
    display: flex;
    flex-direction: column;
}

.footer-social {
    margin-left: 70px;
    padding-top: 12px;
}

.footer-logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19x;
    color: #FFFFFF;
    text-decoration: none;
    width: 145px;
    margin-bottom: 20px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color:var(--accent-color);
}
}

.footer-web {
    color:var(--accent-color);
}

.address {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.footer-list {
    display: flex;
    flex-direction: column;
}


.footer-contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    display: flex;
}

.footer-mail {
    margin-bottom: 9px;
}

.footer-text {
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-social-list {
    display: flex;   
    margin-top: 20px;
}



.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
}

    &:not(:nth-child(4)) {
    margin-right: 10px;
}
}

.footer-form-container {
    position: relative;
    margin-left: auto;
}

.footer-form-name {
    margin-bottom: 20px;
    padding-top: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-form {
    display: flex;
}

.footer-input {
    width: 338px;
    height: 46px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    color: #FFFFFF;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.footer-form-button {
    width: 200px;
    height: 50px;
    padding-left: 30px;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}

.footer-form-icon {
    fill: #FFFFFF;
    margin-left: 10px;
}